*

!.gitignore
!prepareData
!prepareData/**
!customDataset.py
!eval.py
!model.py
!train.py
!cp_train_mac.py
!cp_train_android.py
!cp_train_windows.py
!cp_model.py
!prep_test_data.py
!prep_data.py
!ft_model_mac
!ft_model_mac/**
!ft_model_android
!ft_model_android/**
!ft_model_windows
!ft_model_windows/**